@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.eot');
    src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue.woff2') format('woff2'),
        url('../fonts/BebasNeue.woff') format('woff'),
        url('../fonts/BebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
	margin: 0;
}

nav {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}


.logorouge{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
}
.join{
	font-family: 'Bebas Neue';
	font-size: 19px;
	line-height: 20px;
}
.rond{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: red;
	margin-left: auto;
	margin-right: auto;
	background-color: #e8e8e8;
	position: relative;
	
}
.rond div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.rond span{
	width: 35px;
	height: 6px;
	display: block;
	background-color: #e33C2C;
	border-radius: 3px;
	margin: 4px;
	

}


.header{
	background: url("../images/header.png") no-repeat ;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 0;
	padding: 0;
}

article{
	height: 201px;
	background-color: #fff;
	border-radius: 11px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(150,150,150,0.4);
-moz-box-shadow: 0px 0px 20px 0px rgba(150,150,150,0.4);
box-shadow: 0px 0px 20px 0px rgba(150,150,150,0.4);
}
.pilier{
	position: relative;
	height: 201px;
}
/** .content-pilier{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}**/

article header{
	text-align: center;
}
article header .employee{
	width: 32px;
	height: auto;
	padding-top: 14px;
	margin-bottom: 14px;
}
.DW{
	font-family: 'Segoe UI';
	font-size: 18px;
	font-weight: bold;
	
}

.txt-pilier{
	margin-left: 5%;
	width: 90%;
	font-family: 'Segoe UI';
	font-size: 14px;
	color: #3D3D3D;
	line-height: 16px;
	text-align: center;
}














@media (min-width: 576px) {
	
}


@media (min-width: 768px) {
	
}


@media (min-width: 992px) {
	
}


@media (min-width: 1200px) {
	
}